* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'fira code', monospace;
    background-color: #0e0e0e;
    color: #d0ffdf;
    line-height: 1.6;
    padding: 2rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #1a1a1a;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2rem;
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
        font-size: 0.95rem;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    header h1 {
        font-size: 1.5rem;
        text-align: left;
    }
}